$var: 10px;

%bg{
    content: "";
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    padding: $var;
    margin: $var;
    display: flex;
    flex-wrap: wrap;

     .item{
        width: 400px;
        margin: $var;

        li{
            font-size: 20px; 
            font-weight: bolder;
            padding: $var;
            margin: 30px;
        }
    
        p{
            margin: 80px;
            padding: 20px;
    
        }

    }
    
}

.brief{
    border: 1px solid black;
    width: 400px;
    height: 600px;
    position: relative;
    z-index: 1;
    font-weight: bolder;
    padding: $var;
    font-size: 18px;
    margin: 30px;
    

    #bg1{
        @extend %bg;
        background-image: url(../img/hp1.jpg);

    }

    #bg2{
        @extend %bg;
        background-image: url(../img/hp2.jpg);

    }

    #bg3{
        @extend %bg;
        background-image: url(../img/hp3.jpg);

    }

    #bg4{
        @extend %bg;
        background-image: url(../img/hp4.jpeg);

    }

    #bg5{
        @extend %bg;
        background-image: url(../img/hp5.jpg);

    }

    #bg6{
        @extend %bg;
        background-image: url(../img/hp6.jpg);

    }

    #bg7{
        @extend %bg;
        background-image: url(../img/hp7.jpg);

    }
}

h1{
    margin: $var;
    padding: $var;
}

p{
    margin: $var;
    font-size: 20px;
}

